body {
    display: flex;
    font-family: Roboto, sans-serif;
    flex-direction: column;
    margin: 0;
}

.header {
    color: white;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.navbar, .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.top-header {
    flex-wrap: wrap;
    padding: 80px 150px;
    gap: 15px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.header-image {
    background-color: grey;
    flex: 1 1 0%;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    flex: 1;
}

.btn {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.content {
    display: flex;
    flex-direction: column;
}

.informations {
    display: flex;
    justify-content: center;
    gap: 40px;
}

h2 {
   text-align: center;
   color: #152937;
   font-size: 36px;
   font-weight: extra-bold;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 300px;
}

.picture {
    border: 4px solid #3882F6;
    border-radius: 4px;
    width: 150px;
    height: 150px;
}

.citation {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 150px;
}

q {
    text-align: justify;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

strong {
    align-self: flex-end;
    font-size: 25px;
    color: #1F2937;
    font-weight: extra-bold;

}

.call-to-action {
    display: flex;
    align-items: center;
    margin: 100px 150px;
    border-radius: 5px;
    background-color: #3882F6;
    padding: 25px 75px;
}

.left-action {
    flex: 2;
    color: white;
}

.right-action {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-action {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid white;

}



